.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.navbar .logo{
    height: 180px;
    width: 180px;
}

.navbar .navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    color: #49577e;
    padding: 10px 30px;
}

.navbar .navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 18px;
    color: #49577e;
    padding: 10px 30px;
}

.navbar button{
    background:transparent;
    color: #49577e;
    border: 1px solid tomato;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.navbar button:hover{
    background-color: tomato;
    color: white;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: #49577e 2px solid;
}

.navbar li {
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar-srearch-icon{
    position: relative; 
}

.navbar-srearch-icon .dot{
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}
